{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/aboutus.css">
{% endblock stylesheet %}
{% block content %}

<div id="main">
    <div id="aboutus-div">

        <h1>Sahayog THE Fundraising System</h1>
        <p style='text-align: justify; text-justify: inter-word;'>“Sahayog” is online fundraising web-application it implements Fund collecting and raising and giving it to particular cause through internet. It lets the user to organize fund raising cause and donate for the particular cause.
            Our team is working on “Sahayog” that will make charitable giving easy and impactful. We want to build a strong community dedicated to creating positive social change. Join us in this groundbreaking pursuit to make a real difference together!.            
        </p>
        <h2>Our Developers</h2>
        <div class="developers">
            <div class="img-div">
                <div class="image">
                    <img src="/static/images/Saugat.jpg" alt='Saugat'>
                </div>

                <div>
                    <h3>Saikripa Pokharel Saugat</h3>
                    <p>Backend Developer.</p>
                </div>
            </div>
            <div class="img-div">
                <div class="image">
                    <img src="/static/images/kphushi.jpg" alt="khushi" >
                </div>

                <div>
                    <h3>Khushi Thing Tamang</h3>
                    <p>Frontend Developer.</p>
                </div>
            </div>
            <div class="img-div">
                <div class="image">
                    <img src="/static/images/Sugam.jpg" alt="sugam"
                        alt="">
                </div>

                <div>
                    <h3>Sugam Rai</h3>
                    <p>UI/UX Designer.</p>
                </div>
            </div>
            <div class="img-div">
                <div class="image">
                    <img src="/static/images/Niku.jpg" alt="niku"
                        alt="">
                </div>

                <div>
                    <h3>Nikesh Lamichhane</h3>
                    <p>Frontend Developer.</p>
                </div>
            </div>
            <div class="img-div">
                <div class="image">
                    <img src="/static/images/Arpit.jpg"
                        alt="Arpit-Bala">
                </div>

                <div>
                    <h3>Arpit Paudel</h3>
                    <p>Frontend Developer.</p>
                </div>
            </div>

        </div>
    </div>

</div>




{% endblock content %}