{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/aboutus.css">
{% endblock stylesheet %}
{% block content %}

<div id="main">
    <div id="aboutus-div">

        <h1>Sahayog THE Fundraising System</h1>
        <p>“Sahayog” is online fundraising web-application it implements Fund collecting and raising and giving it to particular cause through internet. It lets the user to organize fund raising cause and donate for the particular cause.
            Our team is working on “Sahayog” that will make charitable giving easy and impactful. We want to build a strong community dedicated to creating positive social change. Join us in this groundbreaking pursuit to make a real difference together!.            
        </p>
        <h2>Our Developers</h2>
        <div class="developers">
            <div class="img-div">
                <div class="image">
                    <img src="https://scontent.fsif1-1.fna.fbcdn.net/v/t39.30808-6/426533549_1520748168705363_8823173594486655578_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=i1aPo_yallMAX884OeV&_nc_ht=scontent.fsif1-1.fna&oh=00_AfBhFRP98kFHsn8ibzBmfapxt58EJwFRiDocTRiX1Y6egQ&oe=65DF5AFA"
                        alt="">
                </div>

                <div>
                    <h3>Saikripa Pokharel Saugat</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="img-div">
                <div class="image">
                    <img src="https://scontent.fsif1-1.fna.fbcdn.net/v/t39.30808-6/426558933_905924111204934_4685041435656444602_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=prqqb8jEKwsAX9OhQeg&_nc_ht=scontent.fsif1-1.fna&oh=00_AfCnVGOrg01XKT4NgqFtqU-J8Y-MxHm3z-Z9471Z4MML3w&oe=65DF29D5"
                        alt="">
                </div>

                <div>
                    <h3>Khushi Thing Tamang</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="img-div">
                <div class="image">
                    <img src="https://scontent.fsif1-1.fna.fbcdn.net/v/t39.30808-6/313341224_1611984212566836_6174417837872692612_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=a248ae&_nc_ohc=Mt0UASUM50YAX-gXDer&_nc_ht=scontent.fsif1-1.fna&oh=00_AfDYuwOMJBF-Xct_M_WxTKloxqX8c_FtglqNAOLZkg3o7g&oe=65E0BF23"
                        alt="">
                </div>

                <div>
                    <h3>Sugam Rai</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="img-div">
                <div class="image">
                    <img src="https://scontent.fsif1-1.fna.fbcdn.net/v/t39.30808-6/416544165_273562925731988_6004028169666434470_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=783fdb&_nc_ohc=oNhC1dvl0MsAX_j90Nk&_nc_ht=scontent.fsif1-1.fna&oh=00_AfCADNSDwSW59WRUv4JLSiCEHL3OTaCq68A0Fd4qU4aG8g&oe=65DF0215"
                        alt="">
                </div>

                <div>
                    <h3>Nikesh Lamichhane</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="img-div">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                </div>

                <div>
                    <h3>Arpit Paudel</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>

        </div>
    </div>

</div>
<div id="footer"></div>




{% endblock content %}