{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/campaigndetails.css">
{% endblock stylesheet %}
{% block content %}
<!-- ham -->
<div id="main">
    <form class="campaign-details">
        <h1>{{allfund.title}}</h1>
        <div>
            <div class="img-wrap">
                <img src="{{allfund.image.url}}" alt="">
            </div>
            <div>
                <h4>required amount: <span>Rs {{allfund.required|floatformat:2}}</span> </h4>
                <h4>collected amount: <span>Rs {{allfund.have|floatformat:2}}</span></h4>
                <h4>stared by : <span>{{allfund.user}}</span></h4>
            </div>
        </div>
        <div>
            created at: <span> {{allfund.timeStamp}}</span>
        </div>
        <p>
            {{allfund.description}}
        </p>
        <div>
            <h2>donation method</h2>
            <div>
                {% comment %} <a href="/">
                    <img  src="/static/images/khalti-logo.png" alt=''>
                </a> {% endcomment %}

                <a href="/campaign/{{allfund.slug}}/esewasahayog/">
                    <img src="/static/images/esewa_logo.png"alt="">
                </a>

                <a href="/paypalsahayog">
                    <img src="/static/images/Pay-pal.webp"
                        alt="">
                </a>

            </div>
        </div>
    </form>
</div>


</div>
{% endblock content %}