{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/campaignStatus.css">

{% endblock stylesheet %}
{% block content %}
    <div id="main">


        <div id="campaign-status">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Name of Campaign</th>
                    <th>Required Fund</th>
                    <th>Collected Fund</th>
                    <th>Claim Fund</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <td>2023</td>
                    <td>Campaign Name</td>
                    <td>2222555</td>
                    <td>34002</td>
                    <td><!-- HTML !-->
                        <button id="claim"class="button-3" name="claim" role="button">Claim</button>
                        
                       </td>
                    <td> <button id="edit" class="button-3" name="edit" role="button">Edit</button>
                </td>
                    <td>
                        <i class="ri-delete-bin-line"></i>
                    </td>
                </tr>
            </table>


        </div>





    </div>
    <div id="footer">

    </div>


{% endblock content %}
{% block script %}
document.getElementById("claim").onclick = function() {
    location.href="/campaignstatus/fundclaiming/"
}
document.getElementById("edit").onclick = function() {
    location.href="/startfund"
}
{% endblock script %}