{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/campaignStatus.css">
{% endblock stylesheet %}
{% block content %}
<div id="main">


    <div id="campaign-status">
        <ul>
            <li>date</li>
            <li>name</li>
            <li>requirement</li>
            <li>edit</li>
            <li>
                <i class="ri-delete-bin-line"></i>
            </li>
        </ul>



        <!-- fetched code -->
        <ul>
            <li>202902</li>
            <li>walle</li>
            <li>skills</li>
            <li>possible</li>
            <li>
                <i class="ri-delete-bin-line"></i>
            </li>
        </ul>



    </div>





</div>
<div id="footer">

</div>


{% endblock content %}
    