{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/campaignStatus.css">

{% endblock stylesheet %}
{% block content %}
    <div id="main">


        <div id="campaign-status">
            <table>
                {% for items in myCampaigns %}
                <tr>
                    <th>Date</th>
                    <th>Name of Campaign</th>
                    <th>Required Fund</th>
                    <th>Collected Fund</th>
                    <th>Claim Fund</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <td>{{items.timeStamp}}</td>
                    <td>{{items.title}}</td>
                    <td>{{items.required|floatformat:2}}</td>
                    <td>{{items.have|floatformat:2}}</td>
                    <td><!-- HTML !-->
                        <button id="claim"class="button-3" name="claim" role="button">Claim</button>
                        
                       </td>
                    <td> <button id="edit" class="button-3" name="edit" role="button">Edit</button>
                </td>
                    <td>
                        <form action="/campaignstatus/deleteCampaign/{{items.sno}}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="" value="{{items.sno}}">
                            <button id="delete" class="button-3" type="submit" name="edit" role="button">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>
    <div id="footer">

    </div>


{% endblock content %}
{% block script %}
document.getElementById("claim").onclick = function() {
    location.href="/campaignstatus/fundclaiming/"
}
document.getElementById("edit").onclick = function() {
    location.href="/startfund"
}
{% endblock script %}