{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/contact.css">
{% endblock stylesheet %}
{% block content %}
<div id="main">
    <div id="contact-div">
        <div>
            <h1>contact us</h1>
            <div>
                <a href="">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="">

                    <i class="ri-facebook-line"></i>
                </a>
                <a href="">
                    <i class="ri-github-fill"></i>

                </a>
                <a href="">
                    <i class="ri-whatsapp-line"></i>

                </a>

            </div>
        </div>

        <div>
            <h1>lets get started</h1>
            <h3>contact us in future</h3>
            <div>
                <div>
                    <i class="ri-map-pin-line"></i>
                    Hetauda
                </div>
                <div>
                    <i class="ri-phone-line"></i>
                    98989889898
                </div>
                <div>
                    <i class="ri-mail-line"></i>
                    email@gmail.com
                </div>

            </div>

            <form action="">
                <label for="">
                    <span class="span-name">Name</span>
                    <input type="text" name="name" placeholder="Name">
                </label>
                <label for="">
                    <span class="span-email">Email</span>
                    <input type="text" name="email" placeholder="Email">
                </label>
                <label for="">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Tell us your project"></textarea>
                </label>
                <input type="submit">
            </form>
            <div class="socialmedia">
                <a href="">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="">

                    <i class="ri-facebook-line"></i>
                </a>
                <a href="">
                    <i class="ri-github-fill"></i>

                </a>
                <a href="">
                    <i class="ri-whatsapp-line"></i>

                </a>

            </div>
        </div>
    </div>



</div>
<div id="footer"></div>
{% endblock content %}
   