{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/startfund.css">
{% endblock stylesheet %}

{% block content %}
<div id="main">
    <form action="/campaignstatus/updateCampaign/{{ campaign.sno }}" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <h2 class="campaign-start">Edit Campaign from here</h2>
        <label for="">
            campaign name:
            <input type="text" placeholder="" name="updatetitle" value="{{ campaign.title }}">
        </label>
        <label for="">
            campaign description:
            <input type="text" placeholder="" name="updatedescription" value="{{ campaign.description }}">
        </label>
        <label for="">
            campaign type:
            <select name="updateType" id="">
                <option value="updatecharityCampaign" {% if campaign.type == 'charityCampaign' %}selected{% endif %}>Charity Campaign</option>
                <option value="updatepersonalCampaign" {% if campaign.type == 'personalCampaign' %}selected{% endif %}>Personal Campaign</option>
                <option value="updatenaturalDisaster" {% if campaign.type == 'naturalDisaster' %}selected{% endif %}>Natural Disaster</option>
                <option value="updateothers" {% if campaign.type == 'others' %}selected{% endif %}>Others</option>
            </select>
        </label>

        <div class="photo-div">
            <h3>Campaign Photo:</h3>
            <span class="photo-wrap">Choose a Image</span>
            <input type="file" class="input" name="updateimage">
        </div>

        <label for="">
            required total fund:
            <input type="text" placeholder="" name="updaterequired" value="{{ campaign.required|floatformat:2 }}">
        </label>
        <input type="submit" value="Edit Campaign" class="startfund">
    </form>
</div>

<div id="footer">

</div>
{% endblock content %}

{% block script %}
document.querySelector(".photo-wrap").addEventListener("click", function () {
    document.querySelector(".input").click();
    // alert("Hello")
})
{% endblock script %}
