

  <footer class="footer">
     <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Sahayog</h4>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about us</a></li>
            <li><a href="/campaign">campaigns</a></li>
            <li><a href="/startfund">start a fund</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="/contact">FAQ</a></li>
            
          </ul>
        </div>
        <div class="footer-col">
          <h4>New start</h4>
          <ul>
            <li><a href="/signup">signup</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/logout">logout</a></li>
            <li><a href="#">goto top</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-twitter-line"></i></a>
            <a href="#"><i class="ri-facebook-line"></i></a>
            <a href="#"><i class="ri-whatsapp-line"></i></a>
          </div>
        </div>
      </div>
     </div>
  </footer>



