{% extends "base.html" %}
{% block stylesheet %}
{% comment %} <link rel="stylesheet" href="/static/css/eswa.css"> {% endcomment %}
<style>
    .buttonconfirm{
    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 50%;
    letter-spacing: 2px;
    font-size: 20px;
    background: #D4E7C5;
    color: #222;
    border: 1px solid hsla(0, 0%, 60%, 0.185);
    }
</style>
{% endblock stylesheet %}
{% block content %}
<!-- ham -->
<div id="main">
    <center>
    <h2>Are you Sure Want to Donate?</h2>
    <h4>Mr/Mrs. {{donatorname}}</h4>
    <form id="esewa-form" method="POST" action="https://rc-epay.esewa.com.np/api/epay/main/v2/form">
        <input type="hidden" id="amount" name="amount" value="{{res}}" required>
        <input type="hidden" id="tax_amount" name="tax_amount" value="0" required>
        <input type="hidden" id="total_amount" name="total_amount" value="{{total_amount}}" required>
        <!--dynamic uuid-->
        <input type="hidden" id="transaction_uuid" name="transaction_uuid" value="{{uid}}" required>
        <input type="hidden" id="product_code" name="product_code" value="EPAYTEST" required>
        <input type="hidden" id="product_service_charge" name="product_service_charge" value="0" required>
        <input type="hidden" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
        <input type="hidden" id="success_url" name="success_url" value="http://127.0.0.1:8000/{{allfund.slug}}/esewa-payment-success/{{res}}/{{donatorname}}" required>
        <input type="hidden" id="failure_url" name="failure_url" value="https://google.com" required>
        <input type="hidden" id="signed_field_names" name="signed_field_names"
            value="total_amount,transaction_uuid,product_code" required>
        <input type="hidden" id="signature" name="signature" value="{{signature}}" required>
        <input value="Submit" type="submit" class="buttonconfirm">
    </form>
    <center>
</div>

{% endblock content %}