{% extends "base.html" %}

{% block content %}

<div id="main">
    <center>
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
    </center>  



    <div id="hero">
        <div class="hero-center-div">
            <h1>your home
                <br>
                for help
            </h1>
            <form id="searchForm" action="{% url 'search_campaigns' %}" method="GET">
                <input type="text" name="q" placeholder="Search" id="search">
                {% comment %} <button type="submit"id='startfund'>Search</button> {% endcomment %}
            </form>
            <br>
           <button id="startfund">start a fund</button>
         
        </div>
    </div>





</div>


{% endblock content %}
{% block script %}
document.getElementById("startfund").onclick = function(){
    location.href="/startfund"
}
{% endblock script %}

