{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/loginSignup.css">
{% endblock stylesheet %}

{% block content %}
<div id="main">
    <form action="/login/" method="post">
        <center>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
        </center> 
        {% csrf_token %}

        <label for="username">
            Email : <input type="text" placeholder="Username" name="loginusername">
        </label>

        <label for="">
            Password:
            <input type="password" placeholder="Password" name="loginpassword">
        </label>
        <a href="#" class="forgot">forgot password</a>

        <button type="submit">
            log in
        </button>
    </form>

</div>
<div id="footer">

</div>


{% endblock content %}