{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/loginSignup.css">
{% endblock stylesheet %}

{% block content %}
<div id="main">



    <form action="">

        <label for="last name">
            Email : <input type="text" placeholder="emil">
        </label>

        <label for="">
            Passwords:
            <input type="text" placeholder="passwords">
        </label>
        <a href="#" class="forgot">forgot password</a>

        <button>
            log in
        </button>

    </form>





</div>
<div id="footer">

</div>


{% endblock content %}