{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/loginSignup.css">
{% endblock stylesheet %}
{% block content %}
<div id="main">



    <form action="">

        <label for="first name">
            Name : <input type="text" placeholder="first name">
        </label>

        <label for="last name">
            Name : <input type="text" placeholder="last name">
        </label>

        <label for="last name">
            Email : <input type="text" placeholder="emil">
        </label>

        <label for="last confirmemail">
            confirm email address : <input type="text" placeholder="re enter email address">
        </label>
        <label for="">
            Passwords:
            <input type="text" placeholder="passwords">
        </label>

        <button>
            log in
        </button>

    </form>





</div>
<div id="footer">

</div>



{% endblock content %}